.body {
background-color: #35548B;
color: #FEFBFE;
font-family: 'Lato', sans-serif;
}

.navbar {
  background-color: #4369B2;
}

.white {
  color: #FEFBFE;
}

.main-c1 {
  background-color: #5788E5;
}

.bg1 {
  background-color: #4369B0;
}

.bg2 {
  background-color: #3F62A4;
}

.main-c2 {
  background: rgb(67,105,177);
  background: linear-gradient(180deg, rgba(67,105,177,1) 0%, rgba(63,98,167,1) 100%);
}