.body {
  background-color: #35548b;
  color: #fefbfe;
  font-family: 'Lato', sans-serif;
}

.navbar {
  background-color: #4369b2;
}

.white {
  color: #fefbfe;
}

.white:hover{
  color: #fefbfe;
}

.main-c1 {
  background-color: #5788e5;
}

.bg1 {
  background-color: #4369b0;
}

.bg2 {
  background-color: #3f62a4;
}

.main-c2 {
  background: rgb(67, 105, 177);
  background: linear-gradient(180deg, rgba(67, 105, 177, 1) 0%, rgba(63, 98, 167, 1) 100%);
}

.detailsimg {
  max-height: 150px;
}